<h1><%=  album ? htmlDecode(album.get('title')):'' %></h1>

<div class="row">
    <div class="span4">
        <table class="table">
            <tr>
                <th>Title</th>
                <td><%=  album ? htmlDecode(album.get('title')):'' %></td>
            </tr>
            <tr>
                <th>Artist</th>
                <td><%=  album ? htmlDecode(album.get('artist')):'' %></td>
            </tr>
            <tr>
                <th></th>
                <td>
                    <a href="#/edit/<%= htmlDecode(album.get('id')) %>" class="btn btn-small">Edit</a>
                    <a href="#/delete/<%= htmlDecode(album.get('id')) %>" class="btn btn-small btn-danger">Delete</a>
                </td>
            </tr>
        </table>
    </div>
</div>